/*
++++++++++++++++++
reset
++++++++++++++++++
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
++++++++++++++++++
utility flex
++++++++++++++++++
*/

/* .flex{
    display: flex;
}

.space-b{
    justify-content: space-between;
}



.wrap{
    flex-wrap: wrap;
} */

/*
++++++++++++++++++
utility body
++++++++++++++++++
*/


.container{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
}

li{
    list-style-type: none;
}
/*
++++++++++++++++++
header
++++++++++++++++++
*/

header{
    background-color: var(--blue);
    height: 75px;
}

header .content-cont{
    display: flex;
    justify-content: space-between;
    
}

#menu-header{
    align-items: center;
    height: 100%;
}

#dek-menu{
    display: none;
}

