/*
++++++++++++++++++
reset
++++++++++++++++++
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
++++++++++++++++++
utility flex
++++++++++++++++++
*/

.flex{
    display: flex;
}

.space-b{
    justify-content: space-between;
}


/*
++++++++++++++++++
utility body
++++++++++++++++++
*/

#jumbotron,
#strategic-planning{
    padding: 0 1.25rem;
}
.container-big{
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
}

.row{
    flex-direction: column;
}

li{
    list-style-type: none;
    text-align: center;
}

.button{
    border-radius: 20px;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

section:nth-child(even){
    background-color: var(--purple);
}
img{
    display: block;
}

h2{
    margin: 40px 0;
    font-size: 28px;
}

#jumbotron,
#strategic-planning{
    margin-top: 100px;
}

/*
++++++++++++++++++
header
++++++++++++++++++
*/

header{
    background-color: var(--blue);
    height: 75px;
    color: white;
    border-bottom: 1px blue;
}


#menu-header{
    align-items: center;
    height: 100%;
    padding: 0 1.25rem;
}

#dek-menu{
    display: none;
    width: 50%;
}

header #dek-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #dek-menu ul li:last-child{
    background-color: white;
}

#btn-menu{
    color: black;
}

@media screen and (min-width: 992px) {
    #dek-menu{
        display: block;
    }
    .hamburger{
        display: none;
    }
}

/*
++++++++++++++++++
jumbotron
++++++++++++++++++
*/


.big-box,
.box{
    border-radius: 10px;
    line-height: 1.5em;
    padding: 0 30px 0 30px;
}

#jumbotron .big-box,
#jumbotron .box{
    background-color: var(--light-blue);
    border-radius: 10px;
    line-height: 1.5em;
    padding: 0 30px 0 30px;
    margin: 10px 0;

}

.box{
    text-align: center;
}

.big-box{
    width: 100%;
}

.big-box .box-img img{
    width: 100%;
   margin-top: 40px;
}

.button-box{
    margin: 40px 5px;
    background-color: var(--blue);
    padding: 10px 50px;
}

#apple{
    margin-right: 10px;
}   

#btn-box{
    color: white;
}

p{
    margin-bottom: 40px;
}

#jumbotron h2,
#jumbotron .box i{
    color: var(--blue);
}

.box i{
    font-size: 75px;
    padding-top: 30px;
}

@media screen and (min-width: 768px) {
    #jumbotron .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #jumbotron .box{    
        width: calc(100% / 3 - 30px);
        margin: 15px 15px;

    }
    #jumbotron .big-box{
        width: calc((100% / 3)* 2 - 30px);
        margin: 15px 15px;
    }
    #jumbotron .big-box .box-img,
    #jumbotron .big-box .box-text{
        width: 50%;
    }
    
}


@media screen and (min-width: 992px) {
    .big-box .box-img,
    .big-box{
        display: flex;
    }
}

/*
++++++++++++++++++
strategic planning
++++++++++++++++++
*/

#strategic-planning .container-big .big-box:first-child{
    color: white;
}

#strategic-planning .container-big .big-box:last-child{
    background-color: white;
    text-align: center;
    border-radius: 30px;
}

#strategic-planning .container-big .big-box .box-text i{
    background-color: var(--purple);
    padding: 17px 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}