/*
++++++++++++++++++
reset
++++++++++++++++++
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
++++++++++++++++++
utility flex
++++++++++++++++++
*/

.flex{
    display: flex;
}

.space-b{
    justify-content: space-between;
}



.wrap{
    flex-wrap: wrap;
}

/*
++++++++++++++++++
utility body
++++++++++++++++++
*/


.container-big{
    max-width: 1140px;
    margin: 0 auto;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
}

.row{
    flex-direction: column;
}

li{
    list-style-type: none;
    text-align: center;
}

.button{
    border-radius: 20px;
    padding: 10px 20px;
}

a{
    text-decoration: none;
}

section:nth-child(even){
    background-color: var(--purple);
}
img{
    display: block;
}

h2{
    margin: 40px 0;
    font-size: 28px;
}
/*
++++++++++++++++++
header
++++++++++++++++++
*/

header{
    background-color: var(--blue);
    height: 75px;
    color: white;
    border-bottom: 1px blue;
}


#menu-header{
    align-items: center;
    height: 100%;
    padding: 0 1.25rem;
}

#dek-menu{
    display: none;
    width: 50%;
}

header #dek-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #dek-menu ul li:last-child{
    background-color: white;
}

#btn-menu{
    color: black;
}

@media screen and (min-width: 992px) {
    #dek-menu{
        display: block;
    }
    .hamburger{
        display: none;
    }
}

/*
++++++++++++++++++
jumbotron
++++++++++++++++++
*/
#jumbotron{
    padding: 0 1.25rem;
    padding-top: 40px;
}
.big-box,
.box{
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px auto;
    line-height: 1.5em;
    padding: 0 30px 0 30px;

}

.box{
    text-align: center;
}

.big-box{
    width: 100%;
    border: 1px solid;
   
}

.big-box .box-img img{
    width: 100%;
   margin: 0 auto;
}

.button-box{
    margin: 40px 5px;
    text-align: center;
    background-color: var(--blue);
}

#btn-box{
    color: white;
}

#apple{
    margin-right: 10px;
}