/*
++++++++++++++++++
reset
++++++++++++++++++
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
++++++++++++++++++
utility flex
++++++++++++++++++
*/

/* .flex{
    display: flex;
}

.space-b{
    justify-content: space-between;
}



.wrap{
    flex-wrap: wrap;
} */

/*
++++++++++++++++++
utility body
++++++++++++++++++
*/


.container{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

:root{
    --blue: #0084fd;
    --light-blue: #b5ddff;
    --purple: #9792e4;
}

li{
    list-style-type: none;
    text-align: center;
}

#button{
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 20px;
}
/*
++++++++++++++++++
header
++++++++++++++++++
*/

header{
    background-color: var(--blue);
    height: 75px;
    color: white;
    border-bottom: 1px blue;
}

header .content-cont{
    display: flex;
    justify-content: space-between;
    
}

#menu-header{
    align-items: center;
    height: 100%;
}

#dek-menu{
    display: none;
    width: 50%;
}

header #dek-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header #dek-menu ul li:last-child{
    background-color: white;
    color: black;
}

@media screen and (min-width: 992px) {
    #dek-menu{
        display: block;
    }
    .hamburger{
        display: none;
    }
}